body{

	text-align: center;
	margin: 0;
}

header{

	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav{

	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;

}

.menu{

	font-family: raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

h1{

	font-family: raleway;
	/*color: #0D2C40;*/
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}

h2{

	font-family: raleway;
	/*color: #0D2C40;*/
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

main{

	width: 850px;
	margin: 35px auto;
}

p{

	font-family: "Droid Serif";
	line-height: 26px
	font-size: 18px;
}


img{

	margin: 40px 8px 0 8px;
}

a{

	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover{

	border-bottom: 2px solid #ffffff;
}

footer{

	font-family: Raleway;
	text-transform: uppercase;
	padding: 0 20px;
	background :#0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;

}

.copyright{

	float: left;
	
}

.message{

	float: right;
	
}

.clearfix:after{

	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;

}

.social-media{

	text-decoration: none;
	color: #F15B31;
	padding: 0;
	margin: 6px;
}

button{
	display: block;
	margin: 20px auto;
	width: 100px;
	height: 50px;
	border-radius: 12px;
	border: 3px solid #ffffff;
	background: #00A6B3;
	color: #F15B31;
	opacity: 0.9;
	font-size: 20px;
}
